.body {
    min-height: 100vh;
    height: auto;
    max-width: 100%;
    z-index: 0;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("../../images/background3.png") no-repeat center center / cover;
    z-index: -1;
    pointer-events: none;
}

.navbar {
    width: 100%;
}

.containerPicture {
    height: 5rem;
    width: 5rem;
    clip-path: circle();
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.userPicture {
    z-index: 500;
    width: 125%;
    height: 125%;
    object-fit: cover;
}

.editWrapper {
    z-index: 501;
    color: white;
    background-color: rgba(0, 0, 0, 0.395);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    padding: 0;
}

.profile {
    position: absolute;
    width: 100%;
    top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badgesContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1%;
    margin-bottom: -1%;
    align-items: center;
    justify-content: center;
}

.badge {
    height: 4rem;
    width: 4rem;
    object-fit: contain;
    filter: drop-shadow(0 0 8px rgba(255, 217, 0, 0.333));
    transition: transform 0.3s ease;
}

.badge:hover {
    transform: scale(1.1);
}

.created_at {
    color: white;
    font-weight: 600;
    text-shadow: 0 0 8px rgb(54, 54, 54);
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-4px);
    }
}

.created_atCharacters {
    display: inline-block;
	animation: bounce 2.5s infinite ease-in-out;
	white-space: pre;
}

.created_at {
    margin-top: 2%;
}

.containerName {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2%;
}

.name, .firstname, .description, .contactLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: 40%;
    background: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    padding: 1% 1% 1% 1%;
}

.name, .firstname {
    padding: 2% 2% 2% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name span {
    font-size: 1.25rem;
}

.name span, .firstname input, .description input, .contactLink input {
    color: white;
    text-shadow: 0 0 8px rgb(54, 54, 54);
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 1%;
}

.name input::placeholder, .firstname input::placeholder, .description input::placeholder, .contactLink input::placeholder {
    color: white;
}

.description {
    width: 40%;
    margin-top: 2%;
}

.name label, .firstname label, .description label, .contactLink label {
    text-shadow: 0 0 8px rgb(54, 54, 54);
}

.description textarea {
    background-color: transparent;
    text-shadow: 0 0 8px rgb(54, 54, 54);
    color: white;
    border: none;
    height: 80%;
    max-width: 100%;
    margin-top: 1%;
    resize: none;
}

.contactButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 4rem;
    background: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    padding: 1% 1% 1% 1%;
    margin-top: 1%;
    gap: .5rem;
    transition: .2s ease-in-out;
}

.contactButton:hover {
    transform: scale(1.035);
}

.todosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 2% 0;
    gap: 1.5rem;
}

.todoCard {
    width: 45%;
    background: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    padding: 1% 1% 1% 1%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.25s ease;
}

.todoCard:hover {
    transform: scale(1.02);
}

.containerIcon {
    width: 30%;
    height: 100%;
    border-right: 5px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleCategories {
    margin-top: 2.5%;
    font-size: 1rem;
    text-align: center;
    text-shadow: 0 0 8px rgb(54, 54, 54);
}

.categoriesName {
    font-size: 0.75rem;
    text-align: center;
    text-shadow: 0 0 8px rgb(54, 54, 54);
    font-weight: 600;
}

.iconCard {
    color: white;
    height: 50%;
    width: 60%;
}

.containerText {
    width: 68%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5%;
}

.name {
    text-shadow: 0 0 8px rgb(54, 54, 54);
    margin-bottom: 0.25%;
}

.createdAt {
    margin-bottom: 1.5%;  
    width: 100%;
    display: flex;
    align-items: flex-start; 
}

.iconCalendar {
    margin-right: 1%;
}

.createdAtSpan {
    text-shadow: 0 0 8px rgb(54, 54, 54);
}

.todoCardTitle {
    text-shadow: 0 0 8px rgb(54, 54, 54);
    margin-bottom: 1%;
}

.todoCardDescription {
    text-shadow: 0 0 8px rgb(54, 54, 54);
}

.note {
    position: absolute;
    right: 3.5%;
    top: 10%;
    display: flex;
}

.iconStar {
    color: yellow;
}

.noteSpan {
    margin-right: 5%;
}

.noTodoShared {
    position: absolute;
    top: 2vh;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 8px rgb(54, 54, 54);
}

.tagsContainer {
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    width: 90%;
    margin-top: 1%;
}

.tag {
    padding: .05rem 2%;
    background-color: rgba(159, 159, 159, 0.45);
    border-radius: 8px;
}

.textTag {
    text-shadow: 0 0 8px rgb(54, 54, 54);
}

.titleSharedTodos {
    color: white;
    text-shadow: 0 0 8px rgb(54, 54, 54);
    margin: -.5% 0 1% 0;
    font-size: 1.75rem;
}

@media (max-width: 767px) {
    .editIcon {
        height: 1rem;
        width: 1rem;
    }

    .containerPicture {
        height: 6rem;
        width: 6rem;
    }

    .picture {
        width: 7rem;
        height: 7rem;
    }

    .badge {
        height: 2.5rem;
        width: 2.5rem;
    }

    .badgesContainer {
        margin-top: 4%;
        gap: 0.75rem;
    }

    .created_at {
        margin-top: 5%;
    }

    .containerName {
        width: 90%;
        margin-top: 5%;
    }

    .description {
        width: 90%;
        margin-top: 8%;
    }

    .contactLink {
        width: 90%;
        margin-top: 5%;
    }

    .submit {
        width: 40%;
        height: 2rem;
        margin-top: 5%;
    }
    
    .contactButton {
        margin-top: 1rem;
        min-width: 7rem;
        min-height: 2rem;
    }

    .todosContainer {
        width: 95%;
        margin-top: 1rem;
    }

    .todoCard {
        width: 100%;
    }

    .profile {
        top: 11vh;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .editIcon {
        height: 1.25rem;
        width: 1.25rem;
        margin-bottom: 2%;
    }

    .containerPicture {
        height: 8rem;
        width: 8rem;
    }

    .picture {
        width: 10rem;
        height: 10rem;
    }

    .badge {
        height: 3rem;
        width: 3rem;
    }

    .badgesContainer {
        margin-top: 3%;
        gap: 0.85rem;
    }

    .created_at {
        margin-top: 3%;
    }

    .containerName {
        width: 60%;
        margin-top: 2%;
    }

    .description {
        width: 60%;
        margin-top: 6%;
    }

    .submit {
        width: 40%;
        height: 2rem;
        margin-top: 5%;
    }

    .todoCard {
        width: 70%;
    }

    .todosContainer {
        margin-top: 3%;
    }
}

@media (min-width: 1024px) {
    .editIcon {
        height: 1.5rem;
        width: 1.5rem;
        margin-bottom: 2%;
    }

    .containerPicture {
        height: 8rem;
        width: 8rem;
    }

    .picture {
        width: 12rem;
        height: 12rem;
    }

    .name, .firstname {
        height: 3.5rem;
    }
    
    .description {
        height: 7rem;
    }

    .description textarea {
        height: 90%;
        margin-top: 1%;
    }
    
    .todosContainer {
        width: 80%;
    }

    .todoCard {
        width: 57.5%;
    }
}