.body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("../images/background.png") no-repeat center center / cover;
    z-index: -1;
    pointer-events: none;
}

.body {
    min-height: 100%;
    height: auto;
    max-width: 100%;
    z-index: 0;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.navbar {
    width: 100%;
}

.todosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoCard {
    width: 35%;
    background: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    padding: 1% 1% 1% 1%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.25s ease;
}

.todoCard:hover {
    transform: scale(1.02);
}

.containerIcon {
    width: 30%;
    height: 100%;
    border-right: 5px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleCategories {
    margin-top: 2.5%;
    font-size: 1rem;
    text-align: center;
    text-shadow: 0 0 8px rgb(54, 54, 54);
}

.categoriesName {
    font-size: 0.75rem;
    text-align: center;
    text-shadow: 0 0 8px rgb(54, 54, 54);
    font-weight: 600;
}

.containerPicture {
    height: 50%;
    max-width: 50%;
    margin-bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userPicture {
    clip-path: circle();
    width: 80%;
    margin-bottom: 5%;
}

.iconCard {
    color: white;
    height: 50%;
    width: 60%;
}

.containerText {
    width: 68%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 5%;
}

.name {
    text-shadow: 0 0 8px rgb(54, 54, 54);
    margin-bottom: 0.25%;
}

.createdAt {
    margin-bottom: 1.5%;  
    width: 100%;
    display: flex;
    align-items: flex-start; 
}

.iconCalendar {
    margin-right: 1%;
}

.createdAtSpan {
    text-shadow: 0 0 8px rgb(54, 54, 54);
}

.todoCardTitle {
    text-shadow: 0 0 8px rgb(54, 54, 54);
    margin-bottom: 1%;
}

.todoCardDescription {
    text-shadow: 0 0 8px rgb(54, 54, 54);
}

.note {
    position: absolute;
    right: 3.5%;
    top: 10%;
    display: flex;
}

.iconStar {
    color: yellow;
}

.noteSpan {
    margin-right: 5%;
}

.noTodoShared {
    position: absolute;
    top: 2vh;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 8px rgb(54, 54, 54);
}

.tagsContainer {
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    width: 90%;
    margin-top: 1%;
}

.tag {
    padding: .05rem 2%;
    background-color: rgba(159, 159, 159, 0.45);
    border-radius: 8px;
}

.textTag {
    text-shadow: 0 0 8px rgb(54, 54, 54);
}

.progressBarContainer {
    width: 95%;
}

.backgroundProgressBar {
    margin-top: 1%;
    width: 100%;
    height: 1rem;
    border-radius: 6px;
    background-color: rgba(128, 128, 128, 0.763);
    position: relative;
    overflow: hidden;
}

.contentProgressBar {
    position: absolute;
    height: 100%;
}

.textProgresBar {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 10%;
    font-size: 0.75rem;
    font-weight: bold;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.searchBar {
    position: absolute;
    top: 14vh;
    width: 50%;
    height: 2.5rem;
    background: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    padding: 0% 1% 0% 1%;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
}

.inputSearch {
    width: 97.15%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    margin-left: 1%;
}

.inputSearch::placeholder {
    color: white;
}

.iconSearch {
    width: 2.85%;
    height: 100%;
    margin-left: -0.15%;
    color: white;
}

@media (max-width: 767px) {
    .navbar {
        height: 5rem;
    }

    .todosContainer {
        position: absolute;
        top: 19.5vh;
        z-index: 999;
        height: auto;
        width: 100%;
    }

    .todoCard {
        width: 87.5%;
        height: 8rem;
        margin-bottom: 5%;
    }

    .containerIcon {
        width: 30%;
        height: 90%;
    }

    .titleCategories {
        font-size: .75rem;
    }

    .categoriesName {
        font-size: .7rem;
    }

    .createdAtSpan {
        font-size: .75rem;
    }

    .iconCalendar {
        height: .75rem;
    }

    .todoCardTitle {
        font-size: 1rem;
    }

    .todoCardDescription {
        font-size: .75rem;
    }

    .backgroundProgressBar {
        height: .7rem;
        border-radius: 4px;
    }

    .textProgresBar {
        top: 5%;
        font-size: .6rem;
    }

    .tagsContainer {
        margin-top: 1%;
    }

    .tag {
        padding: 0 2%;
    }

    .textTag {
        font-size: .65rem;
    }

    .searchBar {
        top: 12.5vh;
        width: 80%;
    }

    .noTodoShared {
        top: 8vh;
    }

    .iconSearch {
        width: 6%;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .todosContainer {
        position: absolute;
        top: 12.5vh;
        z-index: 999;
        height: auto;
        width: 100%;
    }

    .searchBar {
        width: 75%;
    }

    .todoCard {
        width: 70%;
        height: 10rem;
        margin-bottom: 5%;
    }

    .tag {
        margin-top: 2%;
    }

    .progressBarContainer {
        margin-top: 1%;
    }

    .searchBar {
        top: 11vh;
        width: 80%;
    }

    .noTodoShared {
        top: 8vh;
    }
}

@media (min-width: 1024px) {
    .todosContainer {
        position: absolute;
        top: 23.5vh;
        z-index: 999;
        height: auto;
        width: 100%;
        margin-left: 0;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }

    .todoCard {
        width: 40%;
        height: 10rem;
        margin-bottom: 1.25%;
    }
}