.body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("../images/background4.png") no-repeat center center / cover;
    z-index: -1;
    pointer-events: none;
}

.body {
    min-height: 100vh;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
}

.container {
    margin-top: 9%;
    width: 55%;
    background: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0 0 8px rgb(54, 54, 54);
    text-align: center;
}

.text {
    font-size: 1rem;
    text-shadow: 0 0 4px rgb(54, 54, 54);
}

.subtitle {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-size: 1.3rem;
    font-weight: 600;
    text-shadow: 0 0 6px rgb(54, 54, 54);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.formGroup label {
    font-size: 0.9rem;
    font-weight: 500;
}

.formGroup input {
    border-radius: 8px;
    border: none;
    padding: 0.5rem 0.75rem;
    box-shadow: 0 0 6px rgba(54, 54, 54, 0.4);
    outline: none;
    background-color: white;
    color: black;
}

.submitButton {
    margin-top: 0.75rem;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    font-weight: 600;
    background-color: rgb(19, 19, 84);
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

.submitButton:hover {
    transform: scale(1.03);
}
.alertError {
    margin-top: 0.75rem;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    background-color: rgba(40, 8, 8, 0.663);
    border: 1px solid rgba(255, 80, 80, 0.7);
    color: #ff4d4f;
    font-weight: 500;
}

.alertSuccess {
    margin-top: 0.75rem;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    background-color: rgb(7, 41, 11);
    border: 1px solid rgba(80, 200, 120, 0.7);
    color: #4caf50;
    font-weight: 500;
}

@media (max-width: 767px) {
    .container {
        margin-top: 23%;
        width: 87.5%;
        padding: 2% 4% 4% 4%;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .container {
        margin-top: 12.5%;
        width: 80%;
        padding: 2% 2% 2% 2%
    }
}