
.body {
    width: 100%;
    height: 100vh;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body > div {
    width: 35%;
    background: rgba(255, 255, 255, 0.244);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 4px 2px rgba(255, 255, 255, 0.2);
    padding: 0.5% 1% 3% 1%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    color: white;
    align-self: flex-start;
    text-shadow: 0 0 8px rgb(54, 54, 54);
    margin-top: 6%;
    margin-left: 6%;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
}

.containerInputs {
    width: 87%;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerInputs > div:nth-child(n+2) {
    margin-top: 2%;
}

.containerInputs > div:nth-last-child(3) {
    margin-top: 5%;
    transition: 0.2s ease-in-out;
}

.containerInputs > div:nth-last-child(3):hover {
    transform: scale(1.015);
}

.inputContent {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.25rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 8px rgba(54, 54, 54, 0.421);
    padding-right: 12.5%;
}

.inputContent > input {
    width: 72.5%;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: black;
    outline: none;
}

.containerInputs > div:nth-last-child(3) {
    padding: 0;
}

.containerInputs > div:nth-last-child(3) > input {
    width: 100%;
}

.icon {
    position: absolute;
    left: 4.5%;
}

.switchText {
    color: white;
    margin-top: 5%;
    font-size: 1rem;
    text-decoration:none;
}

.switchBtn {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1rem;
    color: white;
}

.errorMessage {
    color: rgb(255, 64, 64);
    margin-bottom: -3%;
    margin-top: 2%;
    align-self: center;
    text-align: center;
}

.eye {
    position: absolute;
    right: 5%;
}

@media (max-width: 767px) {
    .body > div {
        width: 85%;
        padding: 5% 2.75% 9% 2.75%;
    }

    .h1 {
        font-size: 2.25rem;
    }

    .inputContent {
        height: 2.5rem;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .body > div {
        width: 60%;
    }

    .h1 {
        font-size: 3.25rem;
    }
}